@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* -------------------------------------- Menu - Navigation -------------------------------------- */

.menuToggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #90b2d8 url(../assets/menu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  cursor: pointer;
  z-index: 10000;
}

.menuToggle.active {
  background: #c1e3ff url(../assets/close.png);
  mix-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.logo {
  position: fixed;
  top: 10px;
  left: 20px;
  height: 90px;
  width: 90px;
  z-index: 7000;
}

.logo a {
  text-decoration: none;
}

.logo a img {
  height: 100%;
  width: 100%;
}

.navigation {
  position: fixed;
  top: 0;
  left: calc(100% - 60px);
  height: 100vh;
  width: 100%;
  background: #fff;
  z-index: 9500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.navigation.active {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#e9f8ff),
    color-stop(#90b2d8),
    to(#c1e3ff)
  );
  background: -o-linear-gradient(left, #e9f8ff, #90b2d8, #c1e3ff);
  background: linear-gradient(to right, #e9f8ff, #90b2d8, #c1e3ff);
  left: 0px;
}

.navigation ul {
  position: relative;
}

.navigation ul li {
  position: relative;
  list-style: none;
  text-align: center;
}

.navigation .navMenu {
  margin-bottom: 30px;
}

.navigation ul li a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
}

.navigation .menuNav {
  margin: 20px 0;
}

.navigation ul li a:hover {
  color: #000;
}

.socialMedia {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 7000;
}

.socialMedia ul {
  position: relative;
}

.socialMedia ul li {
  position: relative;
  list-style: none;
}

.socialMedia ul li a {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 20px 0;
}

.socialMedia ul li a img {
  height: 32px;
  width: 32px;
}

.socialMedia ul li a:hover {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ----------------------------------------- section ------------------------------------------ */

section {
  position: relative;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}

.bannerVideo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.bannerVideo video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0;
  overflow: hidden;
}

.bannerVideo video.active {
  opacity: 1;
}

/* ------------------------------------------------------------------------------------ */

.content {
  position: absolute;
  left: 50px;
  margin-top: 20px;
  padding: 30px;
  z-index: 7000;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  -webkit-box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.content .bannerText {
  position: relative;
  max-width: 600px;
  text-align: center;
}

.content .bannerText div {
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  display: none;
}

.content .bannerText div.active {
  display: initial;
}

.content .bannerText div h2 {
  color: #fff;
  font-size: 2.8rem;
}

.content .bannerText div p {
  color: #fff;
  font-size: 1.2rem;
  margin: 20px 0;
}

/* ---------------------------------------------------------------------------------- */

.container .controls {
  position: absolute;
  bottom: 0;
  right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 8000;
}

.container .controls li img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.container .controls li {
  list-style: none;
  cursor: pointer;
  margin-left: 25px;
}

.container .controls li img {
  height: 55px;
  width: 55px;
}

/* *-------------------------------------- ERROR 404 -------------------------------------- */

#section404 {
  position: relative;
  min-height: 100vh;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#84d3f8),
    color-stop(#0d5677),
    to(#eee1ec)
  );
  background: -o-linear-gradient(bottom, #84d3f8, #0d5677, #eee1ec);
  background: linear-gradient(0deg, #84d3f8, #0d5677, #eee1ec);
}

.cielo {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cielo .nubes img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.cielo .avion {
  position: absolute;
  top: 20px;
  left: -550px;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  -webkit-animation: animate 5s linear infinite;
  animation: animate 5s linear infinite;
}

.cielo .avion img {
  height: 250px;
  width: 500px;
  -o-object-fit: cover;
  object-fit: cover;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  90%,
  100% {
    -webkit-transform: translateX(calc(100vw + 600px));
    transform: translateX(calc(100vw + 600px));
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  90%,
  100% {
    -webkit-transform: translateX(calc(100vw + 600px));
    transform: translateX(calc(100vw + 600px));
  }
}

.contenido {
  position: absolute;
  bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contenido h2 span {
  display: inline-block;
  color: #fff;
  font-size: 11rem;
  font-weight: 600;
  letter-spacing: 20px;
  text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.8);
  -webkit-animation: animacion404 2s ease-in-out infinite;
  animation: animacion404 2s ease-in-out infinite;
}

.contenido h2 span:nth-child(even) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes animacion404 {
  0%,
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  50% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}

@keyframes animacion404 {
  0%,
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  50% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}

.contenido a {
  position: absolute;
  bottom: -100px;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #ddd8d8;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px #ddd8d8, 0 0 30px #ddd8d8, 0 0 50px #ddd8d8,
    0 0 70px #ddd8d8;
  box-shadow: 0 0 10px #ddd8d8, 0 0 30px #ddd8d8, 0 0 50px #ddd8d8,
    0 0 70px #ddd8d8;
}

/* -------------------------------- Media queries -------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 992px) {
  .content::before {
    left: 20px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    -webkit-box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.3);
  }

  .socialMedia ul li a img {
    height: 35px;
    width: 35px;
  }

  .bannerVideo video {
    -o-object-position: center;
    object-position: center;
  }

  .content {
    left: 0;
  }

  .content .bannerText {
    text-align: center;
    padding: 0 20px;
  }

  .content .bannerText div h2 {
    font-size: 2.7rem;
  }

  .content .bannerText div p {
    color: #fff;
    font-size: 1.1rem;
    margin: 10px 0;
  }

  .container .controls {
    bottom: 20px;
  }

  /* --------------------404------------------- */

  .cielo .avion {
    left: -400px;
  }

  .cielo .avion img {
    height: 200px;
    width: 400px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  @-webkit-keyframes animate {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    90%,
    100% {
      -webkit-transform: translateX(calc(100vw + 400px));
      transform: translateX(calc(100vw + 400px));
    }
  }

  @keyframes animate {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    90%,
    100% {
      -webkit-transform: translateX(calc(100vw + 400px));
      transform: translateX(calc(100vw + 400px));
    }
  }

  .contenido {
    bottom: 200px;
  }

  .contenido h2 span {
    font-size: 9rem;
  }

  .contenido a {
    padding: 15px 30px;
    font-size: 1rem;
  }
}

/* ---------------------------------------------------------------------------------- */

@media screen and (min-width: 577px) and (max-width: 767px) {
  .content::before {
    left: 0;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    -webkit-box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.3);
  }

  .navigation {
    left: 100%;
  }

  .navigation .navMenu {
    margin-bottom: 35px;
  }

  .navigation ul li a {
    font-size: 2.1rem;
  }

  .logo {
    height: 70px;
    width: 70px;
  }

  .socialMedia {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .socialMedia ul li a img {
    height: 35px;
    width: 35px;
  }

  .bannerVideo video {
    -o-object-position: center;
    object-position: center;
  }

  .content {
    left: 0;
  }

  .content .bannerText {
    text-align: center;
    padding: 10px;
  }

  .content .bannerText div h2 {
    font-size: 2.3rem;
  }

  .content .bannerText div p {
    color: #fff;
    font-size: 1.2rem;
    margin: 5px 0;
  }

  .container .controls {
    bottom: 20px;
    right: 10px;
  }

  .container .controls li img {
    height: 60px;
    width: 60px;
  }

  /* --------------------404------------------- */

  .cielo .avion {
    left: -300px;
  }

  .cielo .avion img {
    height: 150px;
    width: 300px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  @-webkit-keyframes animate {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    90%,
    100% {
      -webkit-transform: translateX(calc(100vw + 300px));
      transform: translateX(calc(100vw + 300px));
    }
  }

  @keyframes animate {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    90%,
    100% {
      -webkit-transform: translateX(calc(100vw + 300px));
      transform: translateX(calc(100vw + 300px));
    }
  }

  .contenido {
    bottom: 200px;
  }

  .contenido h2 span {
    font-size: 7.5rem;
  }

  .contenido a {
    padding: 10px 20px;
    font-size: 1rem;
  }
}

/* -------------------------------------------------------------------------------- */

@media screen and (min-width: 320px) and (max-width: 576px) {
  .content::before {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    -webkit-box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.3);
  }

  .navigation {
    left: 100%;
  }

  .navigation .navMenu {
    margin-bottom: 35px;
  }

  .navigation ul li a {
    font-size: 2rem;
  }

  .logo {
    height: 70px;
    width: 70px;
  }

  .socialMedia {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .socialMedia ul li a img {
    height: 35px;
    width: 35px;
  }

  .bannerVideo video {
    -o-object-position: center;
    object-position: center;
  }

  .content {
    padding: 5px;
    left: 0;
  }

  .content .bannerText {
    text-align: center;
    padding: 10px;
  }

  .content .bannerText div h2 {
    font-size: 1.9rem;
  }

  .content .bannerText div p {
    color: #fff;
    font-size: 1rem;
    margin: 5px 0;
  }

  .container .controls {
    bottom: 10px;
    right: 10px;
  }

  .container .controls li img {
    height: 50px;
    width: 50px;
  }

  /* --------------------404------------------- */

  .cielo .avion {
    top: 50px;
    left: -250px;
  }

  .cielo .avion img {
    height: 100px;
    width: 250px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  @-webkit-keyframes animate {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    90%,
    100% {
      -webkit-transform: translateX(calc(100vw + 250px));
      transform: translateX(calc(100vw + 250px));
    }
  }

  @keyframes animate {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    90%,
    100% {
      -webkit-transform: translateX(calc(100vw + 250px));
      transform: translateX(calc(100vw + 250px));
    }
  }

  .contenido {
    bottom: 200px;
  }

  .contenido h2 span {
    font-size: 7rem;
  }

  .contenido a {
    padding: 15px 20px;
    font-size: 1rem;
  }
}
